################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookStore/.vs/BookStore
/BookStore/BookStore/obj
